<?xml version="1.0" encoding="utf-8"?>
    <packages>
	  <package id="brave" />
      <package id="docker-desktop" />
	  <package id="microsoft-windows-terminal" />
	  <package id="poshgit" />
	  <package id="oh-my-posh" />
	  <package id="7zip.install" />
	  <package id="google-drive-file-stream" />
	  <package id="vscode.install" />
      <package id="git.install" />
	  <package id="winscp.install" />
	  <package id="wget" />
	  <package id="spotify" />
	  <package id="googledrive" />
	  <package id="discord.install" />
	  <package id="sharex" />
	  <package id="bitwarden" />
	  <package id="thunderbird" />
    </packages>
